@import '../../../../index.css';

.email-container {
  @extend .email-container; // Наследует стили из newEmail.scss

  .auth-container {
    @extend .auth-container;

    .form-section {
      h2 {
        margin-bottom: 1.5rem;
      }

      .button-group {
        grid-template-columns: 1fr 2fr;
        gap: 1rem;

        .btn {
            background: #a4b0be;
            color: white;

            &:hover {
              background: #747d8c;
            }

            &.confirm {
                background: #636e72;
                color: white;
    
                &:hover {
                  background: #2d3436;
                }
    
                &:disabled {
                  background: #dfe6e9;
                  cursor: not-allowed;
                }
              }
        }
      }

      .error-message {
        @extend .error-message; // Наследует базовые стили ошибок
        top: 40%;
      }
    }

    .graphic-section {
      background: linear-gradient(145deg, rgba(45, 52, 54, 0.9), rgba(0, 0, 0, 0.8));
      font-size: 1.4rem;
    }
  }
}